body {
    background-image: url("../img/pokertable.png");
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 1500px;
    position: fixed;
}

p {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
}

img {
    width: 100px;
    height: 130px;
}

button {
    background-color: black;
    border-color: transparent;
    height: 80px;
    width: 200px;
}
h1{
    color: white;

}

ul{
    list-style-type: none;
}

li {
    float: left;
    border-color: red;
}


#player1 {
    position: absolute;
    left: 850px;
    top: 800px;
}

#player1Cards {
    position: absolute;
    left: 65px;
}

#card1 {
    position: absolute;
    left: 650px;
    top: 580px;
}

#card2 {
    position: absolute;
    left: 760px;
    top: 580px;
}

#card3 {
    position: absolute;
    left: 870px;
    top: 580px;
}

#card4 {
    position: absolute;
    left: 980px;
    top: 580px;
}

#player2site {
    position: absolute;
    left: 10px;
    visibility: hidden;
}

#player2Cards {
    position: absolute;
    left: 1400px;
    top: 230px;
    visibility: hidden;
}

#card101 {
    position: absolute;
    transform: rotate(90deg);
}

#card102 {
    position: absolute;
    transform: rotate(90deg);
    top: 110px
}

#card103 {
    position: absolute;
    transform: rotate(90deg);
    top: 220px
}

#card104 {
    position: absolute;
    transform: rotate(90deg);
    top: 330px;
}


#player3site {
    position: absolute;
    visibility: hidden;
    top: 220px;
    left: 70px;
}

#player3Cards {
    position: absolute;
    visibility: hidden;
}

#card201 {
    position: absolute;
    left: 650px;
}

#card202 {
    position: absolute;
    left: 760px;
}

#card203 {
    position: absolute;
    left: 870px;
}

#card204 {
    position: absolute;
    left: 980px;
}

#player4site {
    position: absolute;
    left: 325px;
    visibility: hidden;
}

#player4Cards {
    position: absolute;
    left: 70px;
    top: 230px;
    visibility: hidden;
}

#card301 {
    position: absolute;
    transform: rotate(90deg);
}

#card302 {
    position: absolute;
    transform: rotate(90deg);
    top: 110px;
}

#card303 {
    position: absolute;
    transform: rotate(90deg);
    top: 220px;
}

#card304 {
    position: absolute;
    transform: rotate(90deg);
    top: 330px;
}

#onlinePlayer {
    background: transparent;
    color: transparent;
}

#getCard {
    background: transparent;
    color: transparent;
    position: absolute;
    right: 150px;
    bottom: 80px;
}

#screamTalmud {
    background: transparent;
    color: transparent;
    position: absolute;
    right: 50px;
    bottom: 80px;
}

#specialAbility {
    background: transparent;
    color: transparent;
    position: absolute;
    bottom: 80px;
    left: 70px;
}

#deck {
    position: absolute;
    left: 825px;
    top: 403px;
}

#oldDeck {
    position: absolute;
    left: 940px;
    top: 403px;
    visibility: hidden;
}

#showDeck {
    visibility: hidden;
}

#specialAbility {
    visibility: hidden;
}

#changeCard {
    visibility: hidden;
}

#dontChangeCard {
    visibility: hidden;
}

#specialAbility {
    visibility: hidden;
}

#screamTalmud{
    visibility: hidden;
}

#discard{
    visibility: hidden;
}
